
   
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    color: rgb(149, 24, 199);
}

ul a {
    color: rgb(149, 24, 199);
}



.intro {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    padding: 10px;
}

.intro p {
    padding: 20px 0 20px 0;
    line-height: 1.2;
}

.container {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    padding: 5px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 10px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
}


#qAndAns {
    display: none;
}

#hSContainer {
    display: none;
}

#correct {
    display: none;
}

#incorrect {
    display: none;
}

div a {
    text-decoration: none;
    color: black;
}


ol {
    padding: 10px;
}

ol li {
    padding: 3px;
    font-size: 18px;
}

.highscoreStyle {
    position: absolute;
    top: 25%;
    padding: 10px;
}

.leaderboard {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    padding: 10px;
    background-color: var(--dark);
    border-radius: 25px;
    color: var(--main);
    padding: 15px;
}